.container-1 {
  display: flex;
  /* position: absolute; */
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.item-image-dad {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}
.item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 5px;
}
.item-header-heading {
  width: 50%;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.item-header-heading2 {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}
.item-image {
  height: 400px;
  background-color: gray;
  margin: 10px 0;
  overflow: hidden;
  border-radius: 5px;
}
.item-footer {
  display: flex;
  align-items: center;
  padding-top: 5px;
}
