.homeSwiper  {
  /* width: 100%;
  height: 100%;
  position: relative; */
  /* background-color: red; */
  /* z-index: -1; */
  height: 1000px;


}

.homeSwiper .swiper-slide {
  text-align: left;
  font-size: 18px;
 
width: 100%;
height: 998px;

  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  -webkit-justify-content: left;
  justify-content: left;
  -webkit-box-align: left;
  -ms-flex-align: left;
  -webkit-align-items: left;
  align-items: left;

}


.homeSwiper .swiper-slide img {
  display: block;
  width: 100%;
  /* height: 900px; */
  height:908px;
  object-fit: cover;

}

.homeSwiper .swiper-button-next {
  position: absolute;
  top:97%;
color:gray;
background-color: inherit;

}

.homeSwiper .swiper-button-prev {
  color:gray;
  background-color: inherit;
  position: absolute;
  top:97%;
  /* left: 80rem; */
  left: 90%;

}

@media screen and (max-width: 800px) {
  .homeSwiper .swiper-button-prev {
    color:gray;
    background-color: inherit;
    position: absolute;
    top:97%;
    /* left: 80rem; */
    left: 70%;
  
  }
  .homeSwiper .swiper-button-next {
    position: absolute;
    top:97%;
  color:gray;
  background-color: inherit;
  
  }
}