.company-txt {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
  color: var(--txt-light-color);
}
.company-head {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 111px;
  color: var(--light-color-2);
}
