.width-fill-available {
  width: -webkit-fill-available;
}

.light-header-text {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: var(--light-color-2);
}
.special-txt {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-align: justify;
  color: var(--yellow-color);
}
.light-post-txt {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-align: justify;
}


