.contact-header {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--light-color-2);
}
.contact-list > li {
  display: flex;
  flex-direction: row;
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 27px;
  padding-top: 24px;
}
.prl-5 {
  padding-right: 50px;
  padding-left: 50px;
}
.education-head-list {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--light-color-2);
}
.education-detail-list {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--light-color-2);
}

.skill-list-style>ul>li {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;

  color: var(--light-color-2);
}
