.head-comment-name {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
}
.head-comment-date {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
}
