:root {
  --light-color: #f5f5f5;
  --light-color-2: #ffffff;
  --blue-light-bg-color: #386efa;
  --dark-color: #0f0e0e;
  --dark-color-2: #1c1c1c;
  --dark-color-3: #1d1d1d;
  --dark-color-4: #343434;
  --yellow-color: #fcbf49;
  --red-color: #fa3838;
  --light-header-color: #dcdcdc;
  --dark-header-color: #1c1c1c;
  --darker-header-color: #000000;
  --nill-backdrop-blur: blur(8px);
  --txt-light-color: #bababa;
  --light-grey-text-color: #d9d9d9;
  --light-grey-border-color: #3a3a3a;
  --light-grey-color: #959595;

}
.text-stroke-inner {
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
  writing-mode: vertical-lr;
  transform: rotate(0deg);
  pointer-events: none;
  will-change: transform;
  -webkit-text-stroke: 2px #0000004d;
  text-stroke: 2px black;
  font-family: 'Kalameh', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 95px;
  line-height: 162px;
  color: white;
  letter-spacing: 0.085em;
  height: max-content;
}
body{
  background-color: #000000;
}
body::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--yellow-color);
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: var(--light-grey-border-color);
}
@media (max-width: 575px) {
  .blogSwiper {
    height: calc(1140vh);
  }
  .blogSwiper div.flex.flex-row.items-end {
    flex-wrap: wrap;
  }
}

@media (min-width: 576px) {
  .blogSwiper {
    height: calc(870vh);
  }
  .blogSwiper div.flex.flex-row.items-end {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  .blogSwiper {
    height: calc(700vh);
  }
  .blogSwiper div.flex.flex-row.items-end {
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) {
  .blogSwiper {
    height: calc(970vh);
  }
  .blogSwiper div.flex.flex-row.items-end {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1200px) {
  .blogSwiper {
    height: 1730px;
  }
  .blogSwiper div.flex.flex-row.items-end {
    flex-wrap: nowrap;
  }
}
@media (min-width: 1400px) {
}
input {
  background-color: var(--dark-color-4);
  padding-top: 6px;
  padding-bottom: 11px;
}
input:focus-visible {
  outline: unset !important;
}
input::placeholder {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 14px;
  color: var(--light-grey-color);
}
.animation {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: all 0.5s ease;
}
.bg-grey {
  background: rgba(92, 89, 89, 0.26);
  backdrop-filter: blur(6.5px);
}
.align-item-baseline {
  align-items: baseline;
}
.header-section {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 71px;
}
.blue-header-section {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  text-transform: uppercase;
}

.dark-section {
  background-color: var(--dark-color);
}
.light-section {
  background-color: var(--light-color);
}

.header-dark {
  color: var(--dark-header-color);
}
.header-light {
  color: var(--light-header-color);
}
.header-yellow {
  color: var(--yellow-color);
}
.header-blue {
  color: var(--blue-light-bg-color);
}
.yellow-bg {
  background-color: var(--yellow-color);
}
.bg-light-dark {
  background-color: var(--dark-color-3);
}
.new-project {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 71px;
  color: var(--light-color-2);
}

p,
li {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: var(--txt-light-color);
}

p.light-header {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
}
ul.with-dot {
  list-style: disc;
}
.width-fit-contents {
  width: min-content;
}
.w-fill-availabe {
  width: -webkit-fill-available;
}
*,
::before,
::after {
  border-color: var(--yellow-color);
}
hr {
  height: 0;
  color: inherit;
  border-top-width: 2px;
  width: 426px;
  margin: auto !important;
}
.left-side {
  direction: ltr;
  text-align: left;
}

.w-80 {
  width: 80%;
}
.image-hover > img:hover {
  border-radius: 10px;
  cursor: pointer;
}

.filter-a-tag {
  font-family: "Kalameh", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: var(--light-color-2);
}

.activeda {
  font-family: "Kalameh", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: var(--dark-color-2);
  padding: 0 25px;
  background-color: var(--yellow-color);
}
