@charset "UTF-8";
/*------------------------------------- Font-Family -----------------------------------------------*/

@font-face {
  font-family: Kalameh;
  font-style: normal;
  src: url("../../../Fonts/KalamehWeb-Regular.eot");
  src: url("../../../Fonts/KalamehWeb-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../../Fonts/KalamehWeb-Black.woff2") format("woff2"),
    url("../../../Fonts/KalamehWeb-Black.woff") format("woff");
}
@font-face {
  font-family: Shabnam;
  font-style: normal;
  src: url("../../../Fonts/Shabnam.ttf");
  src: url("../../../Fonts/Shabnam.ttf") format("truetype");
}
@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 700;
  src: url("../../../Fonts/KalamehWeb-Bold.eot");
  src: url("../../../Fonts/KalamehWeb-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../Fonts/KalamehWeb-Bold.woff2") format("woff2"),
    url("../../../Fonts/KalamehWeb-Bold.woff") format("woff");
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 400;
  src: url("../../../Fonts/KalamehWeb-Regular.eot");
  src: url("../../../Fonts/KalamehWeb-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../../Fonts/KalamehWeb-Regular.woff2") format("woff2"),
    url("../../../Fonts/KalamehWeb-Regular.woff") format("woff");
}

@font-face {
  font-family: Kalameh;
  font-style: normal;
  font-weight: 300;
  src: url("../../../Fonts/KalamehWeb-Thin.eot");
  src: url("../../../Fonts/KalamehWeb-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../../Fonts/KalamehWeb-Thin.woff2") format("woff2"),
    url("../../../Fonts/KalamehWeb-Thin.woff") format("woff");
}

@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 700;
  src: url("../../../Fonts/Shabnam-Bold.ttf");
  src: url("../../../Fonts/Shabnam-Bold.ttf") format("truetype");
}
@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 500;
  src: url("../../../Fonts/Shabnam-Medium.ttf");
  src: url("../../../Fonts/Shabnam-Medium.ttf") format("truetype");
}
@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 300;
  src: url("../../../Fonts/Shabnam-Light.ttf");
  src: url("../../../Fonts/Shabnam-Light.ttf") format("truetype");
}
@font-face {
  font-family: Shabnam;
  font-style: normal;
  font-weight: 100;
  src: url("../../../Fonts/Shabnam-Thin.ttf");
  src: url("../../../Fonts/Shabnam-Thin.ttf") format("truetype");
}
