.footer-bg {
  background-color: var(--dark-header-color);
}
.p-16 {
  padding: 16px 0;
}
.icon-padding {
  padding: 0 12px;
}
.text-white-custom {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: var(--light-color);
  padding: 15px 0;
  direction: ltr;
}
