.head-service {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  color: var(--light-color-2);
}

.body-service {
  font-family: "Shabnam";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: justify;

  color: var(--txt-light-color);
}
.service-body {
  border-right: 1px solid var(--yellow-color);
  padding-right: 15px;
}

