.progress {
  width: 100%;
  /* height: 144px; */
  position: revert;
}
.end-progress {
  background: rgba(56, 110, 250, 0.7);
  backdrop-filter: blur(3.5px);
  /* height: 144px; */
  width: 16px;
}

.during-progress {
  background: #386efa;
  box-shadow: 10px 0px 4px rgba(56, 110, 250, 0.12);
  /* height: 144px; */

}

.progress-bg {
  background-color: var(--dark-color-2);
}

.precentage-txt {
  color: var(--yellow-color);
  font-family: "Kalameh";
  font-style: normal;

}
.progress-title {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 41px;
  color: var(--darker-header-color);
}
