.btn-tag-style {
  font-family: "Kalameh";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--light-grey-text-color);
  padding: 5px 22px;
  border: 1px solid var(--yellow-color);
}
.btn-tag-style:hover{
  background-color: var(--yellow-color);
  color: var(--darker-header-color);
  border-radius: 10px;
}
.yellowTagStyle {
  width: fit-content;
}
