.NillDeveloper{
    -webkit-text-stroke:2px #0000004d;
    -webkit-text-fill-color: white;
    transform: rotate(90deg); 
    letter-spacing: 0.085em;
    font-size: 95px;
    font-family: 'Kalameh';
    font-weight: 800;
    font-style: normal;
    color: #000;
}

