@import './Assets/styles/css/components/fontstyles.css';

:root {
  --light-color: #f5f5f5;
  --light-color-2: #ffffff;
  --blue-light-bg-color: #386efa;
  --dark-color: #0f0e0e;
  --dark-color-2: #1c1c1c;
  --dark-color-3: #1d1d1d;
  --dark-color-4: #343434;
  --yellow-color: #fcbf49;
  --red-color: #fa3838;
  --light-header-color: #dcdcdc;
  --dark-header-color: #1c1c1c;
  --darker-header-color: #000000;
  --nill-backdrop-blur: blur(8px);
  --txt-light-color: #bababa;
  --light-grey-text-color: #d9d9d9;
  --light-grey-border-color: #3a3a3a;
  --light-grey-color: #959595;
}
a,p,ul,li,h1, h2, h3, h4, h5, h6{
  font-family: "Kalameh",sans-serif;
}
.animation {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: all 0.5s ease;
}
.filter-a-tag {
  font-family: "Kalameh", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: var(--light-color-2);
}

.activeda {
  font-family: "Kalameh", serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 54px;
  color: var(--dark-color-2) !important;
  padding: 0 25px;
  margin-right: 1rem;
  background-color: var(--yellow-color);
}