.close {
  position: absolute;
  right: 20px;
  top: -50px;
  color: #fff;
  font-size: 35px;
  font-weight: bold;
}
.Homeclose {
  position: absolute;
  right: 10px;
  top: -80px;
  margin: 30px;
  color: rgb(10, 10, 10);
  font-size: 35px;
  font-weight: bold;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.post {
  position: absolute;

  font-size: 35px;
  font-weight: bold;
}
.drawer {
  z-index: 999;
}
/* my menu style ------------------------------------------- */
.full-menu-style {
    font-family: "Kalameh", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 1.7;
    color: #ececee;
    background-color: #1f2029;
    overflow: hidden;
    background-position: center;
    background-repeat: repeat;
    background-size: 4%;
    width: 100%;
}

.section-center-present {
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.menu-icon:checked + label,
.menu-icon:not(:checked) + label {
    position: fixed;
    top: 30px;
    right: 40px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

.menu-icon:checked + label:before,
.menu-icon:not(:checked) + label:before {
    position: absolute;
    content: "";
    display: block;
    width: 30px;
    height: 20px;
    z-index: 20;
    top: 0;
    left: 0;
    border-top: 3px solid #ececee;
    border-bottom: 3px solid #ececee;
    transition: border-width 100ms 1500ms ease,
    top 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 1600ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:after,
.menu-icon:not(:checked) + label:after {
    position: absolute;
    content: "";
    display: block;
    width: 20px;
    height: 3px;
    z-index: 20;
    top: 10px;
    right: 4px;
    background-color: #ececee;
    margin-top: -1px;
    border-radius: 15px;
    transition: width 100ms 1750ms ease, right 100ms 1750ms ease,
    margin-top 100ms ease, transform 200ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:before {
    top: 10px;
    transform: rotate(45deg);
    height: 3px;
    background-color: #ececee;
    border-width: 0;
    transition: border-width 100ms 340ms ease,
    top 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    height 100ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
    background-color 200ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.menu-icon:checked + label:after {
    width: 30px;
    margin-top: 0;
    right: 0;
    transform: rotate(-45deg);
    transition: width 100ms ease, right 100ms ease, margin-top 100ms 500ms ease,
    transform 200ms 1700ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-menu-full {
    position: fixed;
    top: 10px;
    right: 30px;
    display: block;
    width: 50px;
    height: 60px;
    padding: 0;
    margin: 0;
    z-index: 9;
    overflow: hidden;
    
    backdrop-filter: blur(17px);
    animation: border-transform 7s linear infinite;
    transition: top 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 1100ms cubic-bezier(0.23, 1, 0.32, 1),
    transform 250ms 1100ms ease,
    width 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1),
    height 650ms 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes border-transform {
    0%,
    100% {
        border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
    }
    14% {
        border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
    }
    28% {
        border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
    }
    42% {
        border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
    }
    56% {
        border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
    }
    70% {
        border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
    }
    84% {
        border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
    }
}

.menu-icon:checked ~ .nav-menu-full {
    animation-play-state: paused;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 200%;
    height: 200%;
    transition: top 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1),
    right 350ms 700ms cubic-bezier(0.23, 1, 0.32, 1), transform 250ms 700ms ease,
    width 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1),
    height 750ms 1000ms cubic-bezier(0.23, 1, 0.32, 1);
}

.nav-menu-full ul {
    font-family: 'Kalameh';
    position: absolute;
    top: 50%;
    left: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    z-index: 6;
    text-align: center;
    transform: translateY(-50%);
    list-style: none;
}

.nav-menu-full ul li {
    position: relative;
    display: flex;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    text-align: center;
    list-style: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 250ms linear;
    flex-direction: column;
    justify-content: center;
}

.nav-menu-full ul li:nth-child(1) {
    transition-delay: 200ms;
}

.nav-menu-full ul li:nth-child(2) {
    transition-delay: 150ms;
}

.nav-menu-full ul li:nth-child(3) {
    transition-delay: 100ms;
}

.nav-menu-full ul li:nth-child(4) {
    transition-delay: 50ms;
}

.nav-menu-full ul li a {
    font-family: "Montserrat", sans-serif;
    font-size: 9vh;
    text-transform: uppercase;
    line-height: 1.2;
    font-weight: 800;
    display: inline-block;
    position: relative;
    color: #ececee;
    transition: all 250ms linear;
}

.menu-icon:checked ~ .nav-menu-full ul li {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 350ms ease, transform 250ms ease;
}

.menu-icon:checked ~ .nav-menu-full ul li:nth-child(1) {
    transition-delay: 1400ms;
}

.menu-icon:checked ~ .nav-menu-full ul li:nth-child(2) {
    transition-delay: 1480ms;
}

.menu-icon:checked ~ .nav-menu-full ul li:nth-child(3) {
    transition-delay: 1560ms;
}

.menu-icon:checked ~ .nav-menu-full ul li:nth-child(4) {
    transition-delay: 1640ms;
}


@media screen and (max-width: 991px) {
    .menu-icon:checked + label,
    .menu-icon:not(:checked) + label {
        right: 55px;
    }

    .logo {
        left: 30px;
    }

    .nav-menu-full {
        right: 30px;
    }

    h1 {
        font-size: 9vw;
        -webkit-text-stroke: 2px transparent;
        text-stroke: 2px transparent;
        -webkit-text-fill-color: #ffeba7;
        text-fill-color: #ffeba7;
        color: #ffeba7;
    }

    .nav-menu-full ul li a {
        font-size: 8vh;
    }
}


/* * sppye bazmat nagzaram az bas ke kharam kardeee */
.navigation {
    overflow: hidden;
}

.navigation ul li {
    text-align: center;
    list-style: none;
}

.navigation ul li a {
    color: #fcbf49;
    text-decoration: none;
    font-size: 3em;
    padding: 5px 20px;
    display: contents;
    font-weight: 700;
    transition: 0.5s;
}

.navigation ul li:hover a {
    color: #fff;
}


.navigation ul:hover li a {
    color: #fff;
}

.navigation ul li a:hover {
    color: #fcbf49;
}

.navigation ul li a:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: rgba(126, 126, 126, 0.1);
    z-index: -1;
    opacity: 0;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 500px;
    transition: letter-spacing 0.5s, left 0.5s;
}

.navigation ul li a:hover:before {
    content: attr(data-text);
    opacity: 0.15;
    left: 50%;
    letter-spacing: 60px;
    color: #fcbf49;
    z-index: -111111111;
}

.nav-dark {
    background-color: var(--dark-color);
    height: 80px;
    position: sticky;
    top: 0px;
    z-index: 111111;
}
