.mySwiper .swiper-pagination-bullet {
    background-color: #FA3838;
    display: inline-block;
    width: 60px;
    height: 2px;
    border-radius: 0 !important;
}

.mySwiper .swiper-pagination-bullet-active {
    background-color: white !important;
  }
